<!DOCTYPE html>
<html ng-app="places">
<head>
    <title>PlaceProj</title>

    <link rel="stylesheet" href="lib/dependencies/css/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/dependencies/css/ng-grid.min.css" />
 
    <link rel="stylesheet" type="text/css" href="css/style.css"/>

    <script src="lib/dependencies/angular.min.js"></script>
    <script src="lib/dependencies/angular-resource.min.js"></script>
    <script src="lib/dependencies/jquery.min.js"></script>
    <script src="lib/dependencies/ui-bootstrap-tpls.min.js"></script>
    <script src="lib/dependencies/ng-grid.min.js"></script>

    <script src="script/place.js"></script>
 
</head>

<body>

<div id="wrapper">
    <ul class="menu">
        <li><a href="/SalenkoToNTestProj/">Visits</a></li>
        <li><a href="/SalenkoToNTestProj/clients.html">Clients</a></li>
        <li><a href="/SalenkoToNTestProj/places.html">Places</a></li>
    </ul>
    <hr class="" />
    <div ng-view=""></div>
</div>

<h1>Places</h1>

<br/>

<div class="message" ng-controller="alertMessagesController">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

<br>

<div class="grid" ng-controller="placesListController">
    <div>
        <h3>Place List</h3>
    </div>

    <div class="gridStyle" ng-grid="gridOptions"></div>

    <pagination direction-links="true" boundary-links="true"
                total-items="places.totalResults" items-per-page="places.pageSize"
                ng-model="places.currentPage" ng-change="refreshGrid()">
    </pagination>
</div>

<div class="form" ng-controller="placesFormController">
    <div ng-if="place.id == null">
        <h3>Add row</h3>
    </div>
    <div ng-if="place.id != null">
        <h3>Edit row</h3>
    </div>

    <div>
        <form name="placeForm" ng-submit="updatePlace()" novalidate>

            <div class="form-group" ng-class="{'has-error' : placeForm.clientId.$invalid && placeForm.clientId.$dirty}">
                <label for="clientId">master's_FIO:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : placeForm.clientId.$valid && placeForm.clientId.$dirty}"></span>
                
                <select
				  id="name" name="clientId" class="form-control" ng-model="place.clientId" required>
				  <option ng-repeat="item in clientList" ng-value="item.id" ng-model="place.clientId">
				  {{item.name}}				  
				  </option>
				</select>
				
            </div>

            <div class="form-group" ng-class="{'has-error' : placeForm.address.$invalid && placeForm.address.$dirty}">
                <label for="address">place's_Address:</label>
                <span ng-class="{'glyphicon glyphicon-ok' : placeForm.address.$valid && placeForm.address.$dirty}"></span>

                <input id="address" name="address" type="text" class="form-control" maxlength="100"
                       ng-model="place.address"
                       required >

                <p class="help-block" ng-show="placeForm.address.$error.required">Add place's_Address.</p>
            </div>            
            
            <div class="buttons">
                <button type="button" class="btn btn-primary" ng-click="clearForm()">Clear</button>
                <button type="submit" class="btn btn-primary" ng-disabled="placeForm.$invalid">Save</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>